<!DOCTYPE html>
<html>
<head>
    <title>Bangumi Manager</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/vue@2"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    <div id="app">
        <el-container>
            <el-header>
                <h1>Bangumi Manager</h1>
            </el-header>
            <el-main>
                <el-row :gutter="20" style="margin-top: 20px;">
                    <el-col :span="24">
                        <el-card>
                            <div slot="header" style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
                                <h1>TV-Season</h1>
                                <!-- element-ui button group -->
                                <div>
                                    <el-button type="primary" @click="reloadBangumis">Reload</el-button>
                                    <el-button type="primary" @click="addTVSeason">Add TV-Season</el-button>
                                </div>
                            </div>
                            <el-table :data="current_bangumis" expand-change="loadEpisodeData">
                                <el-table-column type="expand">
                                    <template slot-scope="scope">
                                        <div style="width:100%; padding: 0 10%;">
                                            <el-table :data="scope.row.episodeData">
                                                <el-table-column prop="episode" label="Episode" :width="80"></el-table-column>
                                                <el-table-column prop="hash" label="Hash" :width="380"></el-table-column>
                                                <el-table-column label="Status" :width="150">
                                                    <template slot-scope="scope">
                                                        <div v-if="scope.row.status == 'TorrentStatus.DOWNLOADED'">
                                                            Downloaded
                                                        </div>
                                                        <div v-else-if="scope.row.status == 'TorrentStatus.DOWNLOADING'">
                                                            Downloading
                                                        </div>
                                                    </template>
                                                </el-table-column>
                                                <el-table-column label="Super Resolution" :width="380">
                                                    <template slot-scope="scope">
                                                        <div v-if="scope.row.super_resolution_status.status == 'None'">
                                                            None
                                                        </div>
                                                        <div v-else>
                                                            <div v-if="scope.row.super_resolution_status.status == 'SRMissionStatus.DONE'">
                                                                Finished
                                                            </div>
                                                            <div v-else-if="scope.row.super_resolution_status.status == 'SRMissionStatus.ERROR'">
                                                                Error: [[scope.row.super_resolution_status.err_info]]
                                                            </div>
                                                            <div v-else-if="scope.row.super_resolution_status.status == 'SRMissionStatus.PENDING'">
                                                                Pending
                                                            </div>
                                                            <div v-else>
                                                                <el-progress :percentage="scope.row.super_resolution_status.progress"></el-progress>
                                                            </div>
                                                        </div>
                                                    </template>
                                                </el-table-column>
                                                <el-table-column label="Action" :width="100">
                                                    <template slot-scope="scope">
                                                        <el-button type="primary" size="mini" @click="restartSR(scope.row.hash, scope.row.path, reloadBangumis)">ReSR</el-button>
                                                    </template>
                                                </el-table-column>
                                            </el-table>
                                        </div>
                                    </template>
                                </el-table-column>
                                <el-table-column prop="name" label="Name" :width="400"></el-table-column>
                                <el-table-column prop="season" label="Season" :width="80"></el-table-column>
                                <el-table-column prop="regex_rule_episode" label="Regex" :width="220"></el-table-column>
                                <el-table-column prop="expire_time" label="Expire Time" :width="200"></el-table-column>
                                <el-table-column label="SuperResolution">
                                    <template slot-scope="scope">
                                        <el-switch v-model="scope.row.need_super_resolution" @change="toggleSRTVSeason(scope.row)"></el-switch>
                                    </template>
                                </el-table-column>
                                <el-table-column label="Offset" prop="episode_offset" :width="80"></el-table-column>
                                <el-table-column label="Status" prop="status" :width="120"></el-table-column>
                                <el-table-column label="Actions">
                                    <template slot-scope="scope">
                                        <el-button type="danger" size="mini" @click="deleteTVSeason(scope.row.id)">Delete</el-button>
                                    </template>
                                </el-table-column>
                            </el-table>
                            <el-pagination background layout="prev, pager, next" :total="num_bangumi_pages" style="margin-top: 20px;" current-change="changeBangumiPage"/>
                        </el-card>
                    </el-col>
                </el-row>
                <el-row :gutter="20" style="margin-top: 20px;">
                    <el-col :span="24">
                        <el-card>
                            <div slot="header" style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
                                <h1>TV</h1>
                                <el-button type="primary" @click="addTV">Add TV</el-button>
                            </div>
                        </el-card>
                    </el-col>
                </el-row>
                <el-row :gutter="20" style="margin-top: 20px;"></el-row>
                    <el-col :span="24">
                        <el-card>
                            <div slot="header" style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
                                <h1>Movie</h1>
                                <el-button type="primary" @click="addMovie">Add Movie</el-button>
                            </div>
                        </el-card>
                    </el-col>
                </el-row>
            </el-main>
        </el-container>
        <el-dialog title="Add TV-Season" :visible.sync="show_tv_season_dialog" :close-on-click-modal="false">
            <el-form>
                <el-form-item label="Name">
                    <el-input v-model="new_tv_season.name"></el-input>
                </el-form-item>
                <el-form-item label="Season">
                    <el-input v-model="new_tv_season.season"></el-input>
                </el-form-item>
                <el-form-item label="RSS URL">
                    <el-input v-model="new_tv_season.rss_url"></el-input>
                </el-form-item>
                <el-form-item label="Regex Rule">
                    <el-input v-model="new_tv_season.regex_rule_episode"></el-input>
                </el-form-item>
                <el-form-item label="Episode Offset">
                    <el-input v-model="new_tv_season.episode_offset"></el-input>
                </el-form-item>
                <el-form-item label="Need Super Resolution">
                    <el-switch v-model="new_tv_season.need_super_resolution"></el-switch>
                </el-form-item>
                <el-form-item label="Checked for repeated Name and Season" v-if="new_tv_season.need_recheck">
                    <el-checkbox v-model="new_tv_season.rechecked"></el-checkbox>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button @click="show_tv_season_dialog = false">Hide</el-button>
                <el-button type="primary" @click="submitAddTVSeason">Confirm</el-button>
            </span>
        </el-dialog>
    </div>
    <script>
        new Vue({
            el: '#app',
            delimiters: ['[[', ']]'],
            data() {
                return {
                    current_bangumis: [],
                    num_bangumi_pages: 0,
                    current_bangumi_page: 0,
                    current_tvs: [],
                    num_tv_pages: 0,
                    current_tv_page: 0,
                    current_movies: [],
                    num_movie_pages: 0,
                    current_movie_page: 0,

                    show_tv_season_dialog: false,
                    new_tv_season: {
                        name: '',
                        season: '',
                        rss_url: '',
                        regex_rule_episode: '',
                        episode_offset: 0,
                        need_super_resolution: false,
                        need_recheck: false,
                        rechecked: false
                    }
                };
            },
            mounted() {
                this.reloadBangumis();
            },
            computed: {

            },
            methods: {
                reloadBangumis() {
                    fetch('/api/track', {
                        method: 'POST',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify({'track_type': 'bangumi', 'min_index': -1, 'count': 0})
                    }).then((response) => {
                        if (response.ok) {
                            return response.json();
                        } else {
                            this.$message.error('Failed to load bangumis');
                            throw new Error('Failed to load bangumis');
                        }
                    }).then((data) => {
                        this.num_bangumi_pages = parseInt(Math.ceil(data.count / 20));
                        console.log(`num_bangumi_pages: ${this.num_bangumi_pages}`);
                        this.updateCurrentBangumis(0);
                    });
                },
                changeBangumiPage(page_idx) { this.updateCurrentBangumis(page_idx - 1); },
                updateCurrentBangumis(page_idx) {
                    this.current_bangumi_page = page_idx;
                    fetch('/api/track', {
                        method: 'POST',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify({'track_type': 'bangumi', 'min_index': page_idx * 20, 'count': 20})
                    }).then((response) => {
                        if (response.ok) {
                            return response.json();
                        } else {
                            this.$message.error('Failed to load bangumis');
                            throw new Error('Failed to load bangumis');
                        }
                    }).then((data) => {
                        if (this.current_bangumi_page === page_idx) {
                            var modified_data = data;
                            data.forEach((item) => {
                                item.episodeData.forEach((episode) => {
                                    let prog_data = episode.super_resolution_status.progress;
                                    episode.super_resolution_status.progress = parseInt(prog_data * 1000) / 10;
                                });
                            })
                            this.current_bangumis = data;
                            console.log(this.current_bangumis);
                        }
                    });
                },
                submitAddTVSeason() {
                    fetch('/api/bangumi/add',{
                        method: 'POST',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify({
                            name: this.new_tv_season.name,
                            season: this.new_tv_season.season,
                            rss: this.new_tv_season.rss_url,
                            regex: this.new_tv_season.regex_rule_episode,
                            episode_offset: this.new_tv_season.episode_offset,
                            need_super_resolution: this.new_tv_season.need_super_resolution,
                            checked: this.new_tv_season.rechecked
                        })
                    }).then((response) => {
                        if (response.ok) {
                            this.$message.success('TV-Season added successfully');
                            this.show_tv_season_dialog = false;
                            this.reloadBangumis();
                            this.new_tv_season = {
                                name: '',
                                season: '',
                                rss_url: '',
                                regex_rule_episode: '',
                                episode_offset: 0,
                                need_super_resolution: false,
                                need_recheck: false,
                                rechecked: false
                            };
                        } else {
                            if (response.status === 400) {
                                this.$message.warn('There are repeated TV-Season with the same name and season, recheck is needed');
                                this.new_tv_season.need_recheck = true;
                            } else {
                                this.$message.error('Failed to add TV-Season, code = ' + response.status);
                            }
                        }
                    })
                },
                toggleSRTVSeason(bangumi) {
                    console.log(bangumi);
                    fetch('/api/bangumi/toggle_sr', {
                        method: 'POST',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify({'bangumi_id': bangumi.id})
                    }).then((response) => {
                        if (response.ok) {
                        } else {
                            this.$message.error('Failed to toggle Super Resolution');
                            bangumi.need_super_resolution = !bangumi.need_super_resolution;
                        }
                    });
                },
                deleteTVSeason(id) {
                    // show confirm dialog
                    this.$confirm('This will permanently delete the TV-Season. Continue?', 'Warning', {
                        confirmButtonText: 'OK',
                        cancelButtonText: 'Cancel',
                        type: 'warning'
                    }).then(() => {
                        fetch('/api/bangumi/del', {
                            method: 'POST',
                            headers: { 'Content-Type': 'application/json' },
                            body: JSON.stringify({'bangumi_id': id})
                        }).then((response) => {
                            if (response.ok) {
                                this.reloadBangumis()
                            } else {
                                this.$message.error('Failed to delete bangumi');
                            }
                        })
                    }).catch(() => {
                        this.$message.info('Delete canceled');
                    });
                },
                addTVSeason() {
                    this.show_tv_season_dialog = true;
                },
                addTV() {
                    window.location.href = '/add_tv';
                },
                addMovie() {
                    window.location.href = '/add_movie';
                },
                restartSR(hash, path, callback) {
                    fetch('/api/finish', {
                        method: 'POST',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify({'hash': hash, 'path': path})
                    }).then((response) => {
                        if (response.ok) {
                            callback();
                        } else {
                            this.$message.error('Failed to restart super resolution.');
                        }
                    })
                }
            }
        });
    </script>
</body>
</html>